# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env
env/
venv/

# Editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.db
*.sqlite
bot_pay.session.sql

# Distribution
build/
dist/
*.egg-info/

# Byte-compiled
*.pyc

# Misc
.DS_Store
